<header class="header header-6">
  <div class="branding">
    <a class="nav-link">
      <cds-icon shape="cloud"></cds-icon>
      <span class="title">Only</span>
    </a>
  </div>
  <form class="search">
    <label for="search_input">
      <input id="search_input" type="text" placeholder="搜索文件……">
    </label>
  </form>
  <div class="header-actions">
    <a class="nav-link " (click)="up_down_load_hidden = false">
      <cds-icon class="icon" shape="upload-cloud"></cds-icon>
    </a>
<!--    show number of uploading files-->
    <span class="badge badge-purple" style="margin-top: 10px; margin-left: -10px" *ngIf="UploadingFiles.size !== 0">
      {{UploadingFiles.size}}
    </span>



    <clr-dropdown>
      <button class="nav-icon" clrDropdownTrigger aria-label="toggle settings menu">
        <cds-icon shape="cog"></cds-icon>
        <cds-icon shape="angle" direction="down"></cds-icon>
      </button>
      <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
        <div class="dropdown-item" (click)="redirect('settings')">设置</div>
        <div class="dropdown-item" (click)="logout()">退出</div>
      </clr-dropdown-menu>
    </clr-dropdown>
  </div>
</header>

<app-up-down-load [hidden]="up_down_load_hidden" [(modalHidden)]="up_down_load_hidden"
                  [UploadingFiles]="UploadingFiles"></app-up-down-load>
