<!-- Site Layout -->
<div class="main-container">
  <!-- Top Navigation -->
  <app-header></app-header>
  <!-- Content -->

  <div class="content-container">
    <clr-vertical-nav>
      <a clrVerticalNavLink routerLink="./recent" routerLinkActive="active">
        <cds-icon shape="clock"></cds-icon>
        最近使用
      </a>
      <a clrVerticalNavLink routerLink="./recent" routerLinkActive="active">
        <cds-icon shape="share"></cds-icon>
        我的共享
      </a>
      <a clrVerticalNavLink routerLink="./recent" routerLinkActive="active">
        <cds-icon shape="star"></cds-icon>
        星标文件
      </a>
      <a clrVerticalNavLink routerLink="./recent" routerLinkActive="active">
        <cds-icon shape="trash"></cds-icon>
        回收站
      </a>
    </clr-vertical-nav>

    <div class="content-area">
      <div class="container">
        <nav class="breadcrumbs">
          <!--          current directory has different style, the root has no prefix separator-->
          <div *ngFor="let dir of curDir; let i = index">
            <span class="separator" *ngIf="i !== 0">/</span>
            <a *ngIf="i !== curDir.length - 1" (click)="navigatePath(i)">{{dir}}</a>
            <span class="current-page" *ngIf="i === curDir.length - 1">{{dir}}</span>
          </div>
        </nav>
        <div class="file-display">
          <clr-dropdown>
            <button class="btn btn-primary" clrDropdownTrigger>
              <cds-icon shape="plus-circle"></cds-icon>
              <span style="margin: 5px">新建</span>
              <cds-icon shape="angle" direction="down"></cds-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen>
              <div clrDropdownItem (click)="fileUpload.click()">上传文件</div>
              <div clrDropdownItem (click)="modelOpen = true">新建文件夹</div>
            </clr-dropdown-menu>
          </clr-dropdown>
        </div>
      </div>

      <clr-datagrid>
        <!--        clrDGField binds model properties to columns-->
        <clr-dg-column [clrDgField]="'Name'">文件名</clr-dg-column>
        <clr-dg-column [clrDgField]="'CreateTime'">创建时间</clr-dg-column>
        <clr-dg-column [clrDgField]="'Size'">大小</clr-dg-column>
        <!--        <clr-dg-column>操作</clr-dg-column>-->
        <clr-dg-placeholder>这里空空如也</clr-dg-placeholder>

        <clr-dg-row class="data-row" *clrDgItems="let file of files" (dblclick)="digFile(file)">
          <clr-dg-action-overflow>
            <button class="action-item">预览</button>
            <button class="action-item" (click)="download(file)">下载</button>
            <button class="action-item">共享</button>
            <button class="action-item">星标</button>
            <button class="action-item">删除</button>

          </clr-dg-action-overflow>
          <clr-dg-cell> {{truncateMiddle(file.Name)}} </clr-dg-cell>
          <clr-dg-cell> {{file.CreateTime }} </clr-dg-cell>
          <clr-dg-cell> {{file.Size}} </clr-dg-cell>
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50]">每页文件数</clr-dg-page-size>
            {{pagination.totalItems}} 个文件中的
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
    </div>
  </div>
</div>

<!--upload multiple files-->
<input type="file" name="files" multiple hidden (change)="onFileSelected($event)" #fileUpload>

<!--modal for creating new directory-->
<clr-modal [(clrModalOpen)]="modelOpen">
  <h3 class="modal-title">新建文件夹</h3>
  <div class="modal-body">
    <form clrForm #modalForm=ngForm>
      <clr-input-container>
        <label>文件夹名称</label>
        <input clrInput placeholder="未命名文件夹" name="name" required [(ngModel)]="newDirName"/>
        <clr-control-error *clrIfError="'required'">不可为空</clr-control-error>
      </clr-input-container>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline" (click)="modelOpen = false">取消</button>
    <button type="button" class="btn btn-primary" (click)="createDir(modalForm)" [disabled]="!modalForm.valid">确认
    </button>
  </div>
</clr-modal>
